# reemplazar env.template por .env y completar los valores correspondientes

# Conexión MongoDB
MONGO_HOST=mongodb_host
MONGO_PORT=port
MONGO_USER=user
MONGO_PASSWORD=password
MONGO_DB=database_name

# Conexión Backend
BACKEND_PORT=backend_port
BACKEND_HOST=0.0.0.0    # Para que escuche en todas las interfaces
BACKEND_WS_URL=websocket_url
BACKEND_CORS_ORIGINS=list_of_origins  # Ejemplo: ["http://localhost", "http://localhost:5173", "https

# Configuración de JWT
# ejecutar comando: openssl rand -hex 32
BACKEND_SECRET_KEY="secret_key_here"  # Clave secreta generada
BACKEND_ALGORITHM="HS256"
BACKEND_ACCESS_TOKEN_EXPIRE_MINUTES=minutes_to_expire_here

# Configuración de Frontend
VITE_BACKEND_API_URL=vite_backend_api_url
VITE_PWD_SIGNUP_ENABLED=true
VITE_BACKEND_HOST=host
VITE_BACKEND_PORT=backend_port